<apex:page renderAs="pdf" showHeader="false" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false" standardController="Opportunity" extensions="ExtPdfAdeguataVerificaClientela">

<html>

<head>

<apex:stylesheet value="{!$Resource.CssPdfGeneration}"/>

<title>FORMULAR DE VERIFICARE CLIENTELĂ</title>
<style>

.cellaTitolo {
  width:524.5pt;
  border:solid;
  border-width: 1px;
}

.cellaParagrafo {
  padding: 5.4pt 5.4pt 5.4pt 5.4pt;
  border:solid;
  border-width: 1px;
}

.titoloParagrafoTabella {
  line-height:115%;
  font-weight: bold;
  margin:0cm;
  margin-left:6pt;
  margin-bottom:.0001pt;
  font-size:10.0pt;
}

.tabellaSottile {
  margin-top: 0pt;
  margin-bottom: 0pt;
  border-width: 1px;
  border-bottom: 0px;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
}

.titolareEffettivoRow {
  margin-left:30px;
  font-size:9.5pt;
  margin-bottom:3pt;
  margin-right:0pt;
  margin-top:3pt;
}

.rapportoContinuativoCell {
  vertical-align: text-top;
}

/* font definition */
p, span, li, div {
  font-family: Arial, Arial Unicode MS;
}

 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:9.5pt;}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
  {margin:0cm;
  margin-bottom:.0001pt;
  font-size:8.5pt;}


 /* List Definitions */
 ol
  {margin-bottom:0cm;}
ul
  {margin-bottom:0cm;}

</style>

</head>

<body>


 <!--footer and header-->
 <div class="header_left">
   <img class="header_logo_img" src="{!$Resource.BancaIfisLogo}"/>
 </div>

 <div class="footer_center">
  <p class="docName">Formular de Verificare Clientelă – Ed. 30.03.2018</p>
  <img class="footerLargeImg" src="{!$Resource.FooterIfisPrivacyRO}"/>
</div>

<div class="footer_right pageNumberFooter">
  <span class="pagenumber"/>
</div>


<p class="MsoNormal" align="center" style="text-align:center">
 <b><span style="font-size:11.0pt;">FORMULAR DE VERIFICARE CLIENTELĂ</span></b></p>

<p class="MsoNormal" align="center" style="text-align:center">
  <b><i><span style="font-size:8.0pt;">
    (art. 17 şi succesivele. din Decretul legislativ 21 noiembrie 2007, nr. 231)  - Fişă de identificare Clientelă PERSOANE JURIDICE -
  </span></i></b>
</p>

<p class="MsoNormal" style="text-align:justify"><span style="font-size:9.0pt;">&nbsp;</span></p>

<p class="paragrafoStandard9">Conform art. 22 din Decretul împotriva spălării de bani, Clientul trebuie să ofere, pe propria răspundere, toate informaţiile necesare şi actualizate pentru a permite Băncii să verifice în mod adecvat propria clientelă, atât în faza de instaurare a raportului, cât şi pe durata acestuia. Inclusiv în conformitate cu obligaţiile de control constant în desfăşurarea raportului cu caracter continuativ prevăzute de Decret, Banca va putea efectua ulterioare verificări şi va putea solicita actualizarea anumitor informaţii în baza evaluării riscului de spălare de bani sau de finanţare a terorismului. Eventualul refuz de a oferi aceste date comportă imposibilitatea Băncii de a instaura sau de a continua raportul (art. 42 din Decretul împotriva spălării banilor).</p>

<p class="MsoNormal"><span  style="font-size:9.0pt;">&nbsp;</span></p>

<!-- dati identificativi cliente -->
<table class="uniqueBlock tabellaSottile"  cellspacing="0" cellpadding="0">
  <tr>
    <td class= "cellaTitolo" width="1049">
    <p class="titoloParagrafoTabella">DATE DE IDENTIFICARE CLIENT</p>
    </td>
  </tr>

 <tr>
  <td class = "cellaParagrafo" width="1049" valign="top">

      <p class="paragrafoTabella" style="margin-bottom:  4pt;">
      <b>Denumire socială</b><span class="{!IF( !ISBLANK(opportunity.account.Name), 'hiddenInput', 'veryLongDot')}"/><span class="{!IF( (ISBLANK(opportunity.account.Name)), 'hiddenInput', 'dottedInput')}">{!opportunity.account.Name}</span></p>

      <!-- TODO: CAMBIARE MAPPING PIVA/VAT? -->
      <p class="paragrafoTabella" style="">
       Cod TVA
       <span class="CFstring">
         <apex:repeat value="{!VATCliente}" var="car" >
            <span class="CFcell">{!car}</span>
         </apex:repeat>
       </span>
      </p>

      <p class="paragrafoTabella">
        Cod Fiscal
        <span class="CFstring">
          <apex:repeat value="{!CFCliente}" var="car" >
            <span class="CFcell">{!car}</span>
          </apex:repeat>
        </span>
      </p>

      <p class="paragrafoTabella">
        Camera de Comerţ Industrie Artizanat şi Agricultură <span class="{!IF( !ISBLANK(opportunity.account.CCIAA__c), 'hiddenInput', 'veryLongDot')}"/><span class="{!IF( ISBLANK(opportunity.account.CCIAA__c), 'hiddenInput', 'dottedInput')}">{!opportunity.account.CCIAA__c}</span>
      </p>

      <p class="paragrafoTabella">
        Registrul Economic Administrativ nr.<span class="{!IF( !ISBLANK(opportunity.account.REA__c), 'hiddenInput', 'normalDot')}"/><span class="{!IF( ISBLANK(opportunity.account.REA__c), 'hiddenInput', 'dottedInput')}">{!opportunity.account.REA__c}</span>

        Data înscrierii<span class="{!IF( !ISBLANK(opportunity.account.DataIscrizioneCCIAA__c), 'hiddenInput', 'normalDot')}"/>
        <span class = "{!IF( ISBLANK(opportunity.account.DataIscrizioneCCIAA__c), 'hiddenInput', 'dottedInput')}">
          <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
            <apex:param value="{!opportunity.account.DataIscrizioneCCIAA__c}" />
          </apex:outputText>
        </span>

      </p>

      <p class="paragrafoTabella">Sediu social</p>
      <p class="paragrafoTabella">
        Adresă <span class="{!IF( !ISBLANK(opportunity.account.BillingStreet), 'hiddenInput', 'veryLongDot')}" ></span><span class = " {!IF( ISBLANK(opportunity.account.BillingStreet), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.BillingStreet} </span>
        Oraş <span class="{!IF( !ISBLANK(opportunity.account.BillingCity), 'hiddenInput', 'normalDot')}"/><span class = " {!IF( ISBLANK(opportunity.account.BillingCity), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.BillingCity} </span>
        Cod poştal <span class="{!IF( !ISBLANK(opportunity.account.BillingPostalCode), 'hiddenInput', 'shortDot')}"/><span class = " {!IF(ISBLANK(opportunity.account.BillingPostalCode), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.BillingPostalCode} </span>
        Provincia <span class="{!IF( !ISBLANK(opportunity.account.BillingState), 'hiddenInput', 'veryShortDot')}"/><span class = " {!IF( ISBLANK(opportunity.account.BillingState), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.BillingState} </span>
        Ţara <span class="{!IF( !ISBLANK(opportunity.account.BillingCountry), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.BillingCountry), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.BillingCountry} </span>
      </p>

      <p class="paragrafoTabella">Sediu administrativ <i>(dacă este diferit de sediul social)</i></p>
      <p class="paragrafoTabella">
        Adresă <span class="{!IF( AND(!ISBLANK(opportunity.account.ShippingStreet), !sedeAmmUguale), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( OR(ISBLANK(opportunity.account.ShippingStreet), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ShippingStreet} </span>
        Oraş <span class="{!IF( AND(!ISBLANK(opportunity.account.ShippingCity), !sedeAmmUguale), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( OR(ISBLANK(opportunity.account.ShippingCity), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ShippingCity} </span>
        Cod poştal <span class="{!IF( AND(!ISBLANK(opportunity.account.ShippingPostalCode), !sedeAmmUguale), 'hiddenInput', 'shortDot')}"/><span class = " {!IF( OR(ISBLANK(opportunity.account.ShippingPostalCode), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ShippingPostalCode} </span>
        Provincia <span class="{!IF( AND(!ISBLANK(opportunity.account.ShippingState), !sedeAmmUguale), 'hiddenInput', 'veryShortDot')}"/><span class = " {!IF( OR(ISBLANK(opportunity.account.ShippingState), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ShippingState} </span>
        Ţara <span class="{!IF( AND(!ISBLANK(opportunity.account.ShippingCountry), !sedeAmmUguale), 'hiddenInput', 'shortDot')}"/><span class = " {!IF( OR(ISBLANK(opportunity.account.ShippingCountry), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ShippingCountry} </span>
      </p>

      <p class="paragrafoTabella">
        Telefon <i>(facultativ)</i>
        <span class = "{!IF( AND(!ISBLANK(opportunity.account.TelefonoPrefisso__c), !ISBLANK(opportunity.account.TelefonoNumero__c)), 'dottedInput', 'hiddenInput')}"> {!opportunity.account.TelefonoPrefisso__c + opportunity.account.TelefonoNumero__c} </span>
        <span class = "{!IF( AND(!ISBLANK(opportunity.account.Phone), OR(ISBLANK(opportunity.account.TelefonoPrefisso__c), ISBLANK(opportunity.account.TelefonoNumero__c))), 'dottedInput', 'hiddenInput')}"> {!opportunity.account.Phone} </span>
        <span class = "{!IF( AND(ISBLANK(opportunity.account.Phone), OR(ISBLANK(opportunity.account.TelefonoPrefisso__c), ISBLANK(opportunity.account.TelefonoNumero__c))), 'veryLongDot', 'hiddenInput')}"/>

        Fax <i>(facultativ)</i>
        <span class="{!IF( !ISBLANK(opportunity.account.Fax), 'hiddenInput', 'veryLongDot')}"/>
        <span class = "{!IF( ISBLANK(opportunity.account.Fax), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.Fax} </span>
      </p>

  </td>
</tr>
</table>

<!-- Profilo cliente -->
<table class="uniqueBlock tabellaSottile"  cellspacing="0" cellpadding="0">
  <tr>
    <td class= "cellaTitolo" width="1049">
    <p class="titoloParagrafoTabella">Profil Client</p>
    </td>
  </tr>

<tr>
  <td class = "cellaParagrafo" width="1049" valign="top">

    <p class="paragrafoTabella">
      SAE<span class="{!IF( !ISBLANK(opportunity.account.SAE__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.SAE__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.SAE__c} </span>
      ATECO<span class="{!IF( !ISBLANK(opportunity.account.ATECO__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.ATECO__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ATECO__c} </span>
    </p>

    <p class="paragrafoTabella">Statul Casei Mamă<span class="{!IF( !ISBLANK(opportunity.account.PaeseCasaMadre__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.PaeseCasaMadre__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.PaeseCasaMadre__c} </span></p>

    <!--
    <p class="paragrafoTabella">Activitate economică desfăşurată<span class="{!IF( !ISBLANK(opportunity.account.AttivitaEconomicaSvolta__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.AttivitaEconomicaSvolta__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.AttivitaEconomicaSvolta__c} </span></p>
    -->

    <p class="paragrafoTabella">
      Statul de desfăşurare a activităţii predominante<span class="{!IF( !ISBLANK(opportunity.account.PaeseSvolgimentoAttivitaPrevalente__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.PaeseSvolgimentoAttivitaPrevalente__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.PaeseSvolgimentoAttivitaPrevalente__c} </span>
    </p>
    <p class="paragrafoTabella">
      provincia de desfăşurare a activităţii predominante<span class="{!IF( !ISBLANK(opportunity.account.ProvinciaAttivitaPrevalente__c), 'hiddenInput', 'veryShortDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.ProvinciaAttivitaPrevalente__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.ProvinciaAttivitaPrevalente__c} </span>
    </p>


    <!-- TODO metto la condizione -->
    <p class="paragrafoTabella">
      State cu raporturi de lucru/comerciale:
    </p>
    <p class="paragrafoTabella">
      Statul 1 <span class="{!IF( !ISBLANK(opportunity.account.PaeseRelazioni1__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.PaeseRelazioni1__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.PaeseRelazioni1__c} </span>
      Statul 2 <span class="{!IF( !ISBLANK(opportunity.account.PaeseRelazioni2__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.PaeseRelazioni2__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.PaeseRelazioni2__c} </span>
      Statul 3 <span class="{!IF( !ISBLANK(opportunity.account.PaeseRelazioni3__c), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.PaeseRelazioni3__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.PaeseRelazioni3__c} </span>
    </p>
    <!--
    <p class="paragrafoTabella">
        Tranzacţii cu contrapărţi străine &nbsp;&nbsp;
        <img  class="checkboxImgSmall" src="{!IF( opportunity.account.OperativitaContropartiEstere__c == TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Da&nbsp;&nbsp;&nbsp;
        <img  class="checkboxImgSmall" src="{!IF( opportunity.account.OperativitaContropartiEstere__c == FALSE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Nu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      Principalele Ţări contrapărţi<span class="{!IF( !ISBLANK(opportunity.account.PrincipaliPaesiCoinvolti__c), 'hiddenInput', 'longDot')}"/><span class = "{!IF( ISBLANK(opportunity.account.PrincipaliPaesiCoinvolti__c), 'hiddenInput', 'dottedInput')}"> {!opportunity.account.PrincipaliPaesiCoinvolti__c} </span>
    </p>
    -->

</td>
</tr>
</table>

<!-- Titolare effettivo -->
<table class=" tabellaSottile"  cellspacing="0" cellpadding="0">
<tr>
  <td class= "cellaTitolo" width="1049">
    <p class="titoloParagrafoTabella">Titular Efectiv</p>
  </td>
</tr>

 <tr style="page-break-inside: auto;">
  <td class="cellaParagrafo" width="1049" valign="top" >
  <p class="MsoNormal" style="text-align:justify;line-height:115%; margin-bottom: 10pt;">
  <!-- TODO SISTEMARE LE VIRGOLE RUMENE -->
  Am luat la cunoştinţă definiţia Titularului Efectiv <sup>(1)</sup>, în raport cu CLientul indicat mai sus,se declară:</p>


  <div class="midMarginBlock">
    <p class="MsoNormal" style="text-align:justify;line-height:115%">
    <img  class="checkboxImgSmall" src="{!IF( titolariSize = 0, $Resource.PrivacyPFCheckbox, $Resource.PrivacyPFCheckbox_selected)}"/>existenţa a a un nr. <span class="dottedInput">{!titolariSize}</span> Titulari Efectivi ale căror date de identificare sunt indicate mai jos:
    </p>
  </div>


<!-- titolari effettivi -->

<apex:repeat value="{!ndgTitolariWrap}" var="ndg" >

  <div class="uniqueBlock midMarginBlock">

    <p class="titolareEffettivoRow">
      <b>{!ndg.counter})</b> Nume <span class="{!IF( !ISBLANK(ndg.titolare.LastName), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.LastName), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.LastName} </span>
      Prenume<span class="{!IF( !ISBLANK(ndg.titolare.FirstName), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.FirstName), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.FirstName} </span>
    </p>

    <p class="titolareEffettivoRow">
      Data naşterii
      <span class="{!IF( !ISBLANK(ndg.titolare.Birthdate), 'hiddenInput', 'normalDot')}"/>
      <span class = "{!IF( ISBLANK(ndg.titolare.Birthdate), 'hiddenInput', 'dottedInput')}">
        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
          <apex:param value="{!ndg.titolare.Birthdate}" />
        </apex:outputText>
      </span>

      Locul naşterii<span class="{!IF( !ISBLANK(ndg.titolare.LuogoNascita__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.LuogoNascita__c), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.LuogoNascita__c} </span>
      Judeţul<span class="{!IF( !ISBLANK(ndg.titolare.ProvinciaNascita__c), 'hiddenInput', 'veryShortDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.ProvinciaNascita__c), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.ProvinciaNascita__c} </span>
      Statul <span class="{!IF( !ISBLANK(ndg.titolare.PaeseNascita__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.PaeseNascita__c), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.PaeseNascita__c} </span>
    </p>

    <p class="titolareEffettivoRow">
      Cetăţenia<span class="{!IF( !ISBLANK(ndg.titolare.Cittadinanza__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.Cittadinanza__c), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.Cittadinanza__c} </span>
      Sex:    <img class="checkboxImgSmall" src="{!IF( ndg.titolare.Sesso__c = 'M', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>M&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!IF( ndg.titolare.Sesso__c = 'F', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>F
    </p>

    <p class="titolareEffettivoRow">
      Rezidenţa Adresă<span class="{!IF( !ISBLANK(ndg.titolare.MailingStreet),  'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.MailingStreet), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.MailingStreet} </span>
      Oraş<span class="{!IF( !ISBLANK(ndg.titolare.MailingCity), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.MailingCity), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.MailingCity} </span>
      Cod Poştal<span class="{!IF( !ISBLANK(ndg.titolare.MailingPostalCode), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.MailingPostalCode), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.MailingPostalCode} </span>
    </p>
    <p class="titolareEffettivoRow">
      Provincia<span class="{!IF( !ISBLANK(ndg.titolare.MailingState), 'hiddenInput', 'veryShortDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.MailingState), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.MailingState} </span>
      Ţara <span class="{!IF( !ISBLANK(ndg.titolare.MailingCountry), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.MailingCountry), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.MailingCountry} </span>
    </p>

    <p class="titolareEffettivoRow" style="margin-top: 5pt;">
      Cod Fiscal
      <span class="CFstring" style="margin-left: 6pt;">
        <apex:repeat value="{!ndg.CFArray}" var="car" >
            <span class="CFcell">{!car}</span>
        </apex:repeat>
      </span>
    </p>


    <p class="titolareEffettivoRow">
      Document de identitate: Tipul documentului<span class="{!IF( !ISBLANK(ndg.titolare.TipoDocumentoId__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(ndg.titolare.TipoDocumentoId__c)), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.TipoDocumentoId__c} </span>
      N°<span class="{!IF( !ISBLANK(ndg.titolare.NumeroDoc__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(ndg.titolare.NumeroDoc__c)), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.NumeroDoc__c} </span>
    </p>

    <p class="titolareEffettivoRow">
      Locul eliberării<span class="{!IF( !ISBLANK(ndg.titolare.LuogoEmissioneDoc__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(ndg.titolare.LuogoEmissioneDoc__c), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.LuogoEmissioneDoc__c} </span>
      Data eliberării<span class="{!IF( !ISBLANK(ndg.titolare.DataEmissioneDoc__c), 'hiddenInput', 'normalDot')}"/>
        <span class = "{!IF( ISBLANK(ndg.titolare.DataEmissioneDoc__c), 'hiddenInput', 'dottedInput')}">
          <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
            <apex:param value="{!ndg.titolare.DataEmissioneDoc__c}" />
          </apex:outputText>
        </span>
      Data scadentă <span class="{!IF( !ISBLANK(ndg.titolare.DataScadenzaDoc__c), 'hiddenInput', 'normalDot')}"/>
        <span class = "{!IF( ISBLANK(ndg.titolare.DataScadenzaDoc__c), 'hiddenInput', 'dottedInput')}">
          <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
            <apex:param value="{!ndg.titolare.DataScadenzaDoc__c}" />
          </apex:outputText>
        </span>
    </p>

    <p class="titolareEffettivoRow" style="margin-top: 4pt;">Persoană Expusă Politic (PEP)
     <sup class="{!IF(ndg.counter = 1, '', 'hiddenInput' )}">(2)</sup>                     <img  class="checkboxImgSmall" src="{!IF( ndg.titolare.PEP__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Da&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!IF( ndg.titolare.PEP__c = FALSE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Nu</p>

    <!--
    <p class="titolareEffettivoRow">Persoană Expusă Politic (PEP) Naţională <sup class="{!IF(ndg.counter = 1, '', 'hiddenInput' )}">(3)</sup>   <img  class="checkboxImgSmall" src="{!IF( ndg.titolare.PEPDomestica__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Da&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!IF( ndg.titolare.PEPDomestica__c = FALSE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Nu</p>
    -->
    <p class="titolareEffettivoRow" style="margin-top: 4pt;">Tipologia Titularului Efectiv</p>
    <p class="titolareEffettivoRow">
      <img class="checkboxImgSmall" src="{!IF( ndg.tipologia = 'Proprietà Diretta', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Proprietate Directă&nbsp;&nbsp;
      <img class="checkboxImgSmall" src="{!IF( ndg.tipologia = 'Proprietà Indiretta', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Proprietate Indirectă&nbsp;&nbsp;
      <img class="checkboxImgSmall" src="{!IF( ndg.tipologia = 'Controllo', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Control&nbsp;&nbsp;
      <img class="checkboxImgSmall" src="{!IF( ndg.tipologia = 'Potere di Amministrazione e Direzione', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Drept de Administrare şi Conducere
    </p>

    <p class="titolareEffettivoRow">
      Tipul Activităţii Economice (TAE) <sup>(4)</sup><span class="{!IF( !ISBLANK(ndg.titolare.TAECode__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(ndg.titolare.TAECode__c)), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.TAECode__c} </span>
      Profesia<span class="{!IF( !ISBLANK(ndg.titolare.ProfessioneRuoloMav__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(ndg.titolare.ProfessioneRuoloMav__c)), 'hiddenInput', 'dottedInput')}"> {!ndg.titolare.ProfessioneRuoloMav__c} </span>
    </p>

    <!-- TODO: TOGLIERE LA RIGA E METTERE UNO SPAZIO -->
    <p class="titolareEffettivoRow" style="margin-top:8pt;">
      <span></span>
    </p>

  </div>

</apex:repeat>


<!-- checkbox consensi -->
<!--
<div class="midMarginBlock">
  <p class="MsoNormal" style="text-align:justify; margin-top: 1pt; margin-bottom: 1pt;">
    <img  class="checkboxImgSmall" src="{!IF(opportunity.account.BeneficiarioAVsemplificata__c,$Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>că societatea/instituţia juridică beneficiază de verificarea corespunzătoare simplificată în temeiul art. 25 alin. 1 şi 3<sup>(5)</sup>;
  </p>
  <p class="MsoNormal" style="text-align:justify; margin-top: 1pt; margin-bottom: 1pt;">
    <img  class="checkboxImgSmall" src="{!IF(opportunity.account.ControlloSoggettoAVSemplificata__c,$Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>că societatea/instituţia juridică este controlată de o instituţie care beneficiază de verificarea corespunzătoare simplificată în temeiul art. 25 alin. 1 şi 3<sup>(6)</sup>;
  </p>
  <p class="MsoNormal" style="text-align:justify; margin-top: 1pt; margin-bottom: 1pt;">
    <img  class="checkboxImgSmall" src="{!IF(opportunity.account.PartecipazioneSocietaFiduciarie__c,$Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>că societatea/instituţia juridică este deţinută direct sau indirect de una sau mai multe societăţi de administrare fiduciară într-o cotă mai mare de 25% (în acest sens, Banca IFIS S.p.A. este autorizată să solicite informaţia referitoare la Beneficiarul/ii Real/i direct societăţii de administrare fiduciară de mai sus);
  </p>
  <p class="MsoNormal" style="text-align:justify; margin-top: 1pt; margin-bottom: 1pt;">
    <img  class="checkboxImgSmall" src="{!IF(opportunity.account.NonSussistenzaTitolariEffettivi__c,$Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>inexistenţa beneficiarilor reali.
  </p>
</div>
-->
<div class="midMarginBlock">
    <p class="MsoNormal" style=";text-align:justify;margin-left:16pt;text-indent:-16pt;margin-top: 1pt; margin-bottom:  1pt;">
      <img class="checkboxImgSmall" src="{!IF(opportunity.account.PartecipazioneSocietaFiduciarie2__c,$Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>faptul că societatea/persoana juridică este participată direct sau indirect de una sau mai multe Societăţi Fiduciare pentru o cotă mai mare de 25% (în acest sens, se autorizează Banca IFIS SpA pentru solicitarea informaţiei cu privire la Titularul/ii Efectiv/i direct de la Societatea/Societăţile Fiduciară/e).
    </p>
  </div>

  </td>
 </tr>
 </table>


<!-- dati identificativi esecutore -->
<table class="uniqueBlock tabellaSottile"  cellspacing="0" cellpadding="0">
<tr>
  <td class= "cellaTitolo" width="1049">
    <p class="titoloParagrafoTabella">DATE DE IDENTIFICARE ÎMPUTERNICIT</p>
  </td>
</tr>

<tr style="page-break-inside: auto;">
 <td class="cellaParagrafo" width="1049" valign="top">

<div class = "midMarginBlock">
  <!-- tipo esecutore -->
  <p class="MsoNormal" style="margin-top: 7px;">Tip Împuternicit:&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!$Resource.PrivacyPFCheckbox}"/>Reprezentant legal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!$Resource.PrivacyPFCheckbox}"/>Procurator/delegat&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!$Resource.PrivacyPFCheckbox}"/>Altele <i>(specificaţi)</i> ………………</p>

  <!-- ruolo -->
  <!--
  <p class="paragrafoTabella" style="margin-top: 4pt;">
    Funcţie/poziţie <span class="veryLongDot"/>
  </p>
  -->

   <!-- nome e cognome -->
  <p class="paragrafoTabella">
     <b>Nume</b><span class="{!IF( !ISBLANK(esecutore.LastName), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(esecutore.LastName), 'hiddenInput', 'dottedInput')}"> {!esecutore.LastName} </span>
     <b>Prenume</b><span class="{!IF( !ISBLANK(esecutore.FirstName), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(esecutore.FirstName), 'hiddenInput', 'dottedInput')}"> {!esecutore.FirstName} </span>
  </p>

   <!--dati su nascita-->
  <p class="paragrafoTabella">
  Data naşterii
  <span class="{!IF( !ISBLANK(esecutore.Birthdate), 'hiddenInput', 'normalDot')}"/>
  <span class = "{!IF( ISBLANK(esecutore.Birthdate), 'hiddenInput', 'dottedInput')}">
    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
      <apex:param value="{!esecutore.Birthdate}" />
    </apex:outputText>
  </span>

  Locul naşterii<span class="{!IF( !ISBLANK(esecutore.LuogoNascita__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(esecutore.LuogoNascita__c), 'hiddenInput', 'dottedInput')}"> {!esecutore.LuogoNascita__c} </span>

  Judeţul<span class="{!IF( !ISBLANK(esecutore.ProvinciaNascita__c), 'hiddenInput', 'veryShortDot')}"/><span class = "{!IF( ISBLANK(esecutore.ProvinciaNascita__c), 'hiddenInput', 'dottedInput')}"> {!esecutore.ProvinciaNascita__c} </span>

  Ţara<span class="{!IF( !ISBLANK(esecutore.PaeseNascita__c), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(esecutore.PaeseNascita__c), 'hiddenInput', 'dottedInput')}"> {!esecutore.PaeseNascita__c} </span>
  </p>

  <p class="paragrafoTabella">
    Cetăţenie<span class="{!IF( !ISBLANK(esecutore.Cittadinanza__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(esecutore.Cittadinanza__c), 'hiddenInput', 'dottedInput')}"> {!esecutore.Cittadinanza__c} </span>
    Sex    <img class="checkboxImgSmall" src="{!IF( esecutore.Sesso__c = 'M', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>M&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!IF( esecutore.Sesso__c = 'F', $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>F
  </p>


  <!-- residenza -->

  <p class="paragrafoTabella">
    Rezidenţa Adresă <span class="{!IF( !ISBLANK(esecutore.MailingStreet), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( ISBLANK(esecutore.MailingStreet), 'hiddenInput', 'dottedInput')}"> {!esecutore.MailingStreet} </span>
    Oraş<span class="{!IF( !ISBLANK(esecutore.MailingCity), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(esecutore.MailingCity), 'hiddenInput', 'dottedInput')}"> {!esecutore.MailingCity} </span>
    Cod poştal<span class="{!IF( !ISBLANK(esecutore.MailingPostalCode), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(esecutore.MailingPostalCode), 'hiddenInput', 'dottedInput')}"> {!esecutore.MailingPostalCode} </span>
    Provincia<span class="{!IF( !ISBLANK(esecutore.MailingState), 'hiddenInput', 'veryShortDot')}"/><span class = "{!IF( ISBLANK(esecutore.MailingState), 'hiddenInput', 'dottedInput')}"> {!esecutore.MailingState} </span>
  </p>
  <p class="paragrafoTabella">
    Ţara <span class="{!IF( !ISBLANK(esecutore.MailingCountry), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( ISBLANK(esecutore.MailingCountry), 'hiddenInput', 'dottedInput')}"> {!esecutore.MailingCountry} </span>
  </p>

  <!-- domicilio -->
  <p class="paragrafoTabella">
    Domiciliu <i>(dacă este diferit de reşedinţă)</i>
  </p>
  <p class="paragrafoTabella">
    Adresă<span class="{!IF( AND(!ISBLANK(esecutore.OtherStreet), !sedeAmmUguale), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( OR(ISBLANK(esecutore.OtherStreet), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!esecutore.OtherStreet} </span>
    Oraş<span class="{!IF( AND(!ISBLANK(esecutore.OtherCity), !sedeAmmUguale), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( OR(ISBLANK(esecutore.OtherCity), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!esecutore.OtherCity} </span>
    Cod poştal<span class="{!IF( AND(!ISBLANK(esecutore.OtherPostalCode), !sedeAmmUguale), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( OR(ISBLANK(esecutore.OtherPostalCode), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!esecutore.OtherPostalCode} </span>
  </p>
  <p class="paragrafoTabella">
    Provincie<span class="{!IF( AND(!ISBLANK(esecutore.OtherState), !sedeAmmUguale), 'hiddenInput', 'veryShortDot')}"/><span class = "{!IF( OR(ISBLANK(esecutore.OtherState), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!esecutore.OtherState} </span>
    Ţara<span class="{!IF( AND(!ISBLANK(esecutore.OtherCountry), !sedeAmmUguale), 'hiddenInput', 'shortDot')}"/><span class = "{!IF( OR(ISBLANK(esecutore.OtherCountry), sedeAmmUguale), 'hiddenInput', 'dottedInput')}"> {!esecutore.OtherCountry} </span>
  </p>

  <!--
  <p class="paragrafoTabella">
    Telefon <i>(opţional)</i>
    <span class = "{!IF( AND(!ISBLANK(esecutore.TelefonoPrefisso__c), !ISBLANK(esecutore.TelefonoNumero__c)), 'dottedInput', 'hiddenInput')}"> {!esecutore.TelefonoPrefisso__c + esecutore.TelefonoNumero__c} </span>
    <span class = "{!IF( AND(!ISBLANK(esecutore.Phone), OR(ISBLANK(esecutore.TelefonoPrefisso__c), ISBLANK(esecutore.TelefonoNumero__c))), 'dottedInput', 'hiddenInput')}"> {!esecutore.Phone} </span>
    <span class = "{!IF( AND(ISBLANK(esecutore.Phone), OR(ISBLANK(esecutore.TelefonoPrefisso__c), ISBLANK(esecutore.TelefonoNumero__c))), 'veryLongDot', 'hiddenInput')}"/>

    Fax <i>(opţional)</i>
    <span class="{!IF( !ISBLANK(esecutore.Fax), 'hiddenInput', 'veryLongDot')}"/>
    <span class = "{!IF( ISBLANK(esecutore.Fax), 'hiddenInput', 'dottedInput')}"> {!esecutore.Fax} </span>
  </p>
  -->

  <!-- codice fiscale -->
  <p class="paragrafoTabella" style="margin-top: 4pt;">
      Cod Fiscal
      <span class="CFstring" style="margin-left: 6pt;">
        <apex:repeat value="{!CFEsecutore}" var="car" >
           <span class="CFcell">{!car}</span>
        </apex:repeat>
      </span>
  </p>

  <!-- dati documento di identità-->
  <p class="paragrafoTabella">
    Document de identitate: Tipul documentului<span class="{!IF( !ISBLANK(esecutore.TipoDocumentoId__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(esecutore.TipoDocumentoId__c)), 'hiddenInput', 'dottedInput')}"> {!esecutore.TipoDocumentoId__c} </span>
    N°<span class="{!IF( !ISBLANK(esecutore.NumeroDoc__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(esecutore.NumeroDoc__c)), 'hiddenInput', 'dottedInput')}"> {!esecutore.NumeroDoc__c} </span>
  </p>

  <p class="paragrafoTabella">
      Locul eliberării<span class="{!IF( !ISBLANK(esecutore.LuogoEmissioneDoc__c), 'hiddenInput', 'normalDot')}"/><span class = "{!IF( ISBLANK(esecutore.LuogoEmissioneDoc__c), 'hiddenInput', 'dottedInput')}"> {!esecutore.LuogoEmissioneDoc__c}</span>

      Data eliberării<span class="{!IF( !ISBLANK(esecutore.DataEmissioneDoc__c), 'hiddenInput', 'normalDot')}"/>
        <span class = "{!IF( ISBLANK(esecutore.DataEmissioneDoc__c), 'hiddenInput', 'dottedInput')}">
          <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
            <apex:param value="{!esecutore.DataEmissioneDoc__c}" />
          </apex:outputText>
        </span>

      Data scadentă<span class="{!IF( !ISBLANK(esecutore.DataScadenzaDoc__c), 'hiddenInput', 'normalDot')}"/>
        <span class = "{!IF( ISBLANK(esecutore.DataScadenzaDoc__c), 'hiddenInput', 'dottedInput')}">
          <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
            <apex:param value="{!esecutore.DataScadenzaDoc__c}" />
          </apex:outputText>
        </span>
  </p>

  <!-- PEP -->
    <p class="paragrafoTabella" style="margin-top: 4pt;">Persoană Expusă Politic (PEP)              <img  class="checkboxImgSmall" src="{!IF( esecutore.PEP__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Da&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!IF( esecutore.PEP__c = FALSE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Nu</p>

    <!--
    <p class="paragrafoTabella">Persoană Expusă Politic (PEP) Naţională   <img  class="checkboxImgSmall" src="{!IF( esecutore.PEPDomestica__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Da&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  class="checkboxImgSmall" src="{!IF( esecutore.PEPDomestica__c = FALSE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Nu</p>
    -->

  <p class="paragrafoTabella">
    Tipul Activităţii Economice (TAE) <sup>(4)</sup><span class="{!IF( !ISBLANK(esecutore.TAECode__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(esecutore.TAECode__c)), 'hiddenInput', 'dottedInput')}"> {!esecutore.TAECode__c} </span>
    Profesia <span class="{!IF( !ISBLANK(esecutore.Ruolo__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(esecutore.Ruolo__c)), 'hiddenInput', 'dottedInput')}"> {!esecutore.Ruolo__c} </span>
  </p>

</div>
  </td>
 </tr>
</table>

<!--Informazioni sul rapporto continuativo-->
  <table class="uniqueBlock tabellaSottile"  cellspacing="0" cellpadding="0">
    <tr>
      <td class= "cellaTitolo" width="1049">
        <p class="titoloParagrafoTabella">INFORMAŢII REFERITOARE LA RAPORTUL CU CARACTER CONTINUATIV</p>
      </td>
    </tr>

    <tr>
      <td class="cellaParagrafo" width="1049" valign="top">

        <p class="paragrafoTabella">
          Natura raportului cu caracter continuativ: <span class="{!IF( !ISBLANK(adegVerifica.NaturaRapportoContinuativoFD__c), 'hiddenInput', 'veryLongDot')}"/><span class = "{!IF( (ISBLANK(adegVerifica.NaturaRapportoContinuativoFD__c)), 'hiddenInput', 'dottedInput')}"> {!adegVerifica.NaturaRapportoContinuativoFD__c} </span>
        </p>

        <p class="paragrafoTabella">
          Scopul raportului cu caracter continuativ:
        </p>
        <table>
          <tr>
            <td width="350px" class="rapportoContinuativoCell" style="vertical-align: text-top;">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD11__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Management trezorerii întreprinderi</p>
            </td>
            <td width="350px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD12__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Alocări acordate</p>
            </td>
            <td width="350px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD13__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Activitate de investiţie</p>
            </td>
          </tr>
          <tr>
            <td width="400px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD14__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Management inc/pl. societăţi–cc pe baze active</p>
            </td>
            <td width="349px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD15__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Demobilizarea creanţelor comerciale Italia</p>
            </td>
            <td width="300px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD16__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Gestiune salarii angajaţi</p>
            </td>
          </tr>
          <tr>
            <td width="349px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD17__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Gestiune furnizori</p>
            </td>
            <td width="350px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD18__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Demobilizarea creanţelor comerciale în străinătate</p>
            </td>
            <td width="350px" class="rapportoContinuativoCell">
              <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.ScopoFD19__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Reglementarea tranzacţiilor în şi din străinătate</p>
            </td>
          </tr>
        </table>

        <!-- ORIGINE DEI FONDI -->
        <p class="paragrafoTabella">
          Originea fondurilor:
        </p>
        <table>
          <tr>
          <td width="350px" class="rapportoContinuativoCell" style="vertical-align: text-top;">
            <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.OrigineFondi1__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Câştiguri din activitatea societăţii</p>
          </td>
          <td width="350px" class="rapportoContinuativoCell">
            <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.OrigineFondi2__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Câştiguri extraordinare</p>
          </td>
          <td width="350px" class="rapportoContinuativoCell">
            <p class="paragrafoTabella"><img  class="checkboxImgSmall" src="{!IF(adegVerifica.OrigineFondi3__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Cesiunea bunurilor</p>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
          <p class="paragrafoTabella">
            <img class="checkboxImgSmall" src="{!IF(adegVerifica.OrigineFondi4__c = TRUE, $Resource.PrivacyPFCheckbox_selected, $Resource.PrivacyPFCheckbox)}"/>Altele (specificaţi)
            <span class = "{!IF ( OR( AND (adegVerifica.OrigineFondi4__c = TRUE, ISBLANK(adegVerifica.OrigineFondiAltro__c)), adegVerifica.OrigineFondi4__c = FALSE), 'veryLongDot', 'hiddenInput')}"/>
            <span class = "{!IF (AND (adegVerifica.OrigineFondi4__c = TRUE, !ISBLANK(adegVerifica.OrigineFondiAltro__c)), 'dottedInput', 'hiddenInput')}">
              {!adegVerifica.OrigineFondiAltro__c}
            </span>
          </p>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<p class="paragrafoStandard9" style="margin-top:20px">
  Subsemnatul, conştient de responsabilităţile prevăzute de art. 55 şi succesivele din D.Lgs. 231/2007 în cazul omiterii sau a declaraţiilor false, declar că am oferit în acest formular toate informaţiile necesare şi actualizate pe care le cunosc, inclusiv cu referire la titularul efectiv al raportului/al operaţiunii, garantez faptul că acestea sunt exacte şi adevărate şi mă oblig să comunic orice eventuală modificare viitoare.
</p>


<div class="uniqueBlock midMarginBlock" style="margin-top:20px">
  <p class="MsoNormal">
    <span>
      Locul şi data
      <span class = "{!IF(!isTiAnticipo, '', 'hiddenInput')}">_____________________</span>
      <span class = "{!IF(AND(isTiAnticipo, !ISBLANK(opportunity.account.BillingCity)), 'linedInput', 'hiddenInput')}"> {!opportunity.account.BillingCity} </span>
      <span class = "{!IF(AND(isTiAnticipo, ISBLANK(opportunity.account.BillingCity)), '', 'hiddenInput')}">__________</span>
      <span class = "{!IF(isTiAnticipo, 'linedInput', 'hiddenInput')}">
        <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
          <apex:param value="{!TODAY()}" />
        </apex:outputText>
      </span>
    </span>
    <span style="float:right; margin-right:5pt;"> ________________________________________________</span><br/>
      <span style="float:right; margin-right:15pt;"> (ştampila şi semnătura persoanei care a întocmit)</span>
  </p>
  </div>


  <div class="uniqueBlock midMarginBlock" style="margin-top: 25pt;">
  <div class="spazioRiservatobanca midMarginBlock" style="clear:right;">
    <p style="font-weight:bold;font-size:10pt;text-align:center;float:center;margin-top: 0px;">Spaţiu rezervat pentru Bancă</p>
    <p style="font-size:8.5pt;">Subsemnatul………………………………declar pe propria răspundere, conform D.Lgs. 231/2007 faptul că semnătura aplicată pe formular este adevărată şi autentică şi că a fost aplicată personal în prezenţa mea de către persoana indicată, ale cărei date personale au fost verificate de mine.
      </p>
    <span style="font-size:7.5pt;margin-top: 5pt;margin-left: 25px;">_______________________________</span>
      <span style="font-size:7.5pt;float:right; margin-right:60px;">Cod. interior ______________________</span><br/>
      <span style="font-size:7.5pt;">(vizat pentru identificarea şi autenticitatea semnăturii)</span>
  </div>
  </div>


<!-- fine tabella e fine aprte dinamica-->


<!--  parte statica -->

<p class="MsoFootnoteText" style="text-align:justify"><span>_________________________________</span></p>

<p class="MsoFootnoteText" style="text-align:justify"><span style="font-size:5.0pt;">&nbsp;</span></p>

<p class="MsoFootnoteText" style="text-align:justify"><span style="font-size:8.5pt;">(1)<b> DEFINIŢIA TITULARULUI EFECTIV</b></span></p>

<p class="MsoFootnoteText" style="text-align:justify"><b>Art. 1, al. 2, lit. pp), D.Lgs. 21 noiembrie 2007, nr. 231 - ”titular efectiv”</b>: ”persoana fizică sau persoanele fizice, altele decât clientul, în interesul căreia sau cărora, în ultimă instanţă, s-a instaurat raportul cu caracter continuativ, prestaţia profesională este acordată sau operaţiunea este efectuată”.</p>

<p class="MsoFootnoteText" style="text-align:justify"><b>Art. 20, D. Lgs. 21 noiembrie 2007, nr. 231 - Criterii pentru determinarea calităţii de titular efectiv al altor clienţi decât persoanele fizice.</b></p>
<p class="MsoFootnoteText" style="text-align:justify">Titularul efectiv al clienţilor, alţii decât persoanele fizice, coincide cu persoana fizică sau persoanele fizice căreia, în ultimă instanţă, i se atribuie proprietatea directă sau indirectă a entităţii sau a relativului control. </p>
<p class="MsoFootnoteText" style="text-align:justify">2. În cazul în care clientul este o societate de capitaluri:</p>
<ol style="list-style-type: lower-latin;text-align:justify; margin-top:.0001pt; margin-bottom:.0001pt; font-size:8.5pt;">
  <li>constituie indicaţie proprietăţii directe, deţinerea unei participaţii mai mari de 25 la sută din capitalul clientului, deţinută de o persoană fizică; </li>
  <li>constituie indicaţie proprietăţii directe, deţinerea unei participaţii mai mari de 25 la sută din capitalul clientului, deţinută prin intermediul societăţilor afiliate, al societăţilor fiduciare sau prin intermediul persoanelor interpuse.</li>
</ol>
<p class="MsoFootnoteText" style="text-align:justify">3. În cazul în care analiza dreptului de proprietate nu permite individualizarea în mod univoc al persoanei fizice sau a persoanelor fizice cărora le este atribuită proprietatea directă sau indirectă a entităţii, titularul efectiv coincide cu persoana fizică sau persoanele fizice cărora, în ultimă instanţă, le este atribuit controlul acestuia, conform: </p>
<ol style="list-style-type: lower-latin;text-align:justify; margin-top:.0001pt; margin-bottom:.0001pt; font-size:8.5pt;">
  <li>controlului majorităţii voturilor ce pot fi exercitate în adunarea generală ordinară; </li>
  <li>controlului voturilor suficiente pentru exercitarea influenţei dominante în adunarea generală ordinară; </li>
  <li>existenţei condiţiilor speciale de contract care să permită exercitarea influenţei dominante. </li>
</ol>
<p class="MsoFootnoteText" style="text-align:justify">4. În cazul în care aplicarea criteriilor din paragrafele precedente nu permite individualizarea în mod univoc a unuia sau mai multor titulari efectivi, titularul efectiv coincide cu persoana fizică sau persoanele fizice titulare ale drepturilor de administrare şi conducere a societăţii.  </p>
<p class="MsoFootnoteText" style="text-align:justify">5. În cazul în care clientul este o persoană juridică privată, din Decretul Preşedintelui Statului 10 februarie 2000, nr. 361, sunt individualizaţi în comun, ca titulari efectivi:  </p>
<ol style="list-style-type: lower-latin;text-align:justify; margin-top:.0001pt; margin-bottom:.0001pt; font-size:8.5pt;">
  <li>fondatorii, dacă sunt în viaţă;</li>
  <li>beneficiari, atunci când sunt identificaţi sau uşor identificabili;</li>
  <li>titularii funcţiilor de conducere şi de administraţie.</li>
</ol>
<p class="MsoFootnoteText" style="text-align:justify">6. Persoanele obligate păstrează urmele verificărilor efectuate pentru individualizarea titularului efectiv.</p>

<p class="MsoFootnoteText" style="text-align:justify"><b><span style="font-size:5.0pt;">&nbsp;</span></b></p>

<p class="MsoFootnoteText" style="text-align:justify"><span style="font-size:8.5pt;">(2) <b>DEFINIŢIA PERSOANEI EXPUSE POLITIC</b></span></p>
<p class="MsoFootnoteText" style="text-align:justify;"><b>Art. 1, al. 2, lit. dd), D.Lgs. 21 noiembrie 2007, nr. 231 – ”persoane expuse politic”: persoanele fizice care ocupă sau au încetat a mai ocupa de mai puţin de un an, funcţii publice importante, precum şi rudele acestora, şi cei cu care aceştia au relaţii apropiate, cum ar fi: </b></p>
<p class="MsoFootnoteText" style="text-align:justify;">1) sunt persoane fizice care ocupă sau au ocupat funcţii publice importante, cei care au avut funcţia de: </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.1 Preşedintele Republicii, Preşedintele Consiliului, Ministru, Vice-Ministru şi Subsecretar, Preşedinte de Regiune, Consilier regional, Primar de reşedinţă de judeţ sau oraş metropolitan, Primar al unei localităţi cu populaţie nu mai mică de 15.000 locuitori, precum şi funcţii similare în State străine; </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.2 deputat, senator, parlamentar european, consilier regional, precum şi funcţii similare în State străine; </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.3 membru al organelor direcţionale centrale ale partidelor politice;</p>
<p class="MsoFootnoteText" style="text-align:justify;">1.4 judecător al Curţii Constituţionale, magistrat al Curţii de Casaţie sau al Curţii de conturi, consilier de Stat sau alţi membri ai Consiliului de Justiţie Administrativă al Regiunii Sicilia, precum şi funcţii similare în State străine; </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.5 membru al organelor directive ale băncilor centrale şi ale autorităţilor independente; </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.6 ambasador, delegat pentru afaceri sau funcţii similare în State străine, funcţionar de grad înalt al forţelor armate precum şi funcţii similare în State străine; </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.7 componenţi ai organelor de administrare, direcţie şi control al societăţilor afiliate, chiar şi indirect, Statului italian sau unui Stat străin, în măsură predominantă sau totalitară, Regiunilor, primăriilor reşedinţelor de judeţ sau oraşelor metropolitane şi primăriilor localităţilor cu populaţie totală mai mare de 15.000 locuitori; </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.8 director general al ASL şi al unei unităţi sanitare, al unei unităţi sanitare universitare şi al altor entităţi din serviciul sanitar naţional. </p>
<p class="MsoFootnoteText" style="text-align:justify;">1.9 director, vice-director şi membru al organului de management sau persoane cu funcţii echivalente în organizaţii internaţionale; </p>
<p class="MsoFootnoteText" style="text-align:justify;">2) se consideră rude ale persoanelor expuse politic: părinţii, soţul sau persoana legată prin uniune civilă şi convieţuire de fapt sau instituţii asemănătoare persoanei expuse politic, fiii soţilor, precum şi persoane legate prin uniune civilă şi convieţuire de fapt sau instituţii asemănătoare; </p>
<p class="MsoFootnoteText" style="text-align:justify;">3) se consideră persoane cu care persoanele expuse politic au raporturi strânse: </p>
<p class="MsoFootnoteText" style="text-align:justify;">3.1 persoanele fizice legate de persoana expusă politic prin prisma calităţii de titular efectiv sau orice alt raport de afaceri; </p>
<p class="MsoFootnoteText" style="text-align:justify;">3.2 persoanele fizice care deţin doar în mod formal controlul totalitar al unei entităţi constituite de fapt, în interesul şi beneficiul unei persoane expuse politic.</p>

<p class="MsoFootnoteText" style="text-align:justify; margin-top:20px">(3) Prin TAE (Tipul Activităţii Economice) se înţelege specificaţia sectorului economic al Persoanelor Fizice, similar cu cerinţa pentru Persoanele diferite faţă de cele Fizice cu RAE (Ramura Activităţii Economice) şi ATECO (Activitatea Economică), ex. producţie produse chimice, tâmplărie, construcţii, comerţ cu produse alimentare, cultivarea produselor agricole, servicii de închiriere şi locaţiune, etc.</p>

</body>

</html>

</apex:page>